body {
 background-image: url("background.jpg");
 background-size: cover;
 color: white;  
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
}
.todo {
   background-color:#1e293b;
   padding: 30px;
   border-radius: 15px;
   width: 500px;
}
h1 {
text-align: center;
}
.input-area{
   display: flex; 
   gap: 10px;
}
input{
  flex: 1;  
  padding: 12px;
  border-radius: 8px;
}
button {
padding:12px 20px ;  
background-color: royalblue ;
color: white;
border-radius: 8px;
cursor: pointer;
} 
button:hover{
    background-color: navy;
}
ul {
 padding: 0;   
}
li {
background-color: darkslategray;
padding: 12px;
margin: 10px;
border-radius: 8px;
list-style: none;
cursor: pointer;
}